.postLandingC {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    background-color: white;
    
    max-width: 700px;
    height: auto;
      
    }
    
    .postWrapper {
      padding: 20px;
      
    }
    
    .postTopC {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #F74B4B;
      padding: 10px;
      border-radius: 10px 10px 0px 0px;
    }
    .postTopDownC {
     
      align-items: center;
      justify-content: space-between;
      margin-top:-8px;
      height: 30px;
      background-color: #2E3B43;
      border-radius: 0px 0px 10px 10px;
    }
    .postCommunityC {
      font-size: 12px;
      font-weight: 300;
      margin-left:40px;
      color: white;
      padding: 5px;
    }
    
    .postTopLeft {
      display: flex;
      align-items: center;
    }
    
    .postProfileImgC {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      object-fit: cover;
    }
    .gobutton {
        width: 52px;
        height: 20px;
        
        border-radius: 10%;
        object-fit: cover;
        background-color: black;
        color: white;
        text-align: center;
      }
    
    .postUsername {
      font-size: 15px;
      font-weight: 500;
      margin: 0 10px;
    }
    
    .postDate{
        font-size: 12px;
    }
    
    .postCenter{
      
        margin: 20px 0;
       
    }
    
    .postImg{
        margin-top: 20px;
        width: 100%;
        max-height: 500px;
        object-fit: contain;
    }
    .postText{
      font-weight: 500;
      display: inline-block;
    }
    
    .postBottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .postBottomLeft{
        display: flex;
        align-items: center;   
    }
    
    .likeIcon{
        width: 24px;
        height: 24px;
        margin-right: 5px;
        cursor: pointer;
    }
    
    .postLikeCounter{
        font-size: 15px;
    }
    
    .postCommentText{
        cursor: pointer;
        border-bottom: 1px dashed gray;
        font-size: 15px;
    }